{% extends 'base.html' %}
{% load static %}

{% block styles %}
    {{ block.super }}
{% endblock %}

{% block scripts %}
    {{ block.super }}
{% endblock %}


{% block title %}
    - Home
{% endblock %}

{% block content %}
    <h2>Home</h2>
    {% for room in rooms %}
        <div>
            <a href="{% url 'home:update-room' room.id %}">Edit</a>
            <a href="{% url 'home:delete-room' room.id %}">Delete</a>
            <span>{{ room.topic.name }} - added by - {{ room.host.username }}</span>
            <h5>{{ room.id }} - <a href="{% url 'home:room' room.id   %}">{{ room.name }}</a></h5>

        </div>
    {% endfor %}
{% endblock %}